<h1>Rails CraigsList</h1>
<h2>Categories</h2>
<% @categories.each do |category| %>
	<%= div_for category do %>
  <p><%= link_to category.name, category %></p>
	<% end %>
<% end %>

<!-- div_for adds each category to the div="category" where the id="category_id" - this helps in the future when you're working with the DOM doing jQuery and AJAX -->

<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>